Your task is to convert a number into a string representing sounds of raindrops based on its potential factors. A factor is a number that divides another number evenly, without leaving a remainder. The simplest way to check if a number is a factor of another is by using the modulo operation.

The rules for raindrops are as follows: if a given number:

has 3 as a factor, add "Pling" to the result.

has 5 as a factor, add "Plang" to the result.

has 7 as a factor, add "Plong" to the result.

has none of 3, 5, or 7 as factors, the result should be the digits of the number itself.

In [ ]:
my_number  = int (input ( " entre un nombre ") )
if my_number % 3 == 0  : 
    print (" pling") 
elif  my_number % 5 == 0 :
    print ( " plang ") 
elif my_number % 7 == 0 : 
    print ( " plong " )
else :
    print ( my_number  )

You are going to write a virtual coin toss program. It will randomly tell the user "Heads" or "Tails". Important, the first letter should be capitalised and spelt exactly like in the example e.g. Heads, not heads. There are many ways of doing this. But to practice what we learnt in the last lesson, you should generate a random number, either 0 or 1. Then use that number to print out Heads or Tails.

In [ ]:
import random 
if random.randint(0, 1) == 0: 
    print ("Heads")
else : 
      print ("Tails")

Instructions : Create a dictionary named student with the following keys and values:

name: "Alice" age: 21 major: "Data Science" Access and print the value associated with the key name.

Print all the keys in the dictionary.

Print all the values in the dictionary.

Update the age to 22.

Add a new key-value pair: graduation_year: 2025.

Print the updated dictionary.

In [ ]:
student =	{ "name": "Alice","age": 21,"major": "Data Science"}
print (student )
for key in student.keys() :
    print(key)
for values in student.values() :
    print(values)
student.update({"age": 22})
print(student)
student["graduation_year"]=2025
print(student)

Question 1

Write a Python program that multiplies all the items in a list.

Sample list= [2, 3, 6]

Result = 36

Question 2

Write a Python program to get a list, sorted in increasing order by the last element in each tuple, from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Hint: You can use the sort function.

Question 3

Write a Python program that combines two dictionaries by adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}

Question 4

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) so that is an integral number between 1 and n (both included). Then the program should print the dictionary. Suppose the following input is supplied to the program: 8. Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Question 5

Write a program to sort a tuple by its float element.

For example: list= [('item1', '12.20'), (item2', '15.10'), ('item3', '24.5')]

Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

Question 6

Write a Python program to create a set.

Examples : {0, 1, 2, 3, 4}

Write a Python program to iteration over sets.

Write a Python program to add members in a set and to remove items from a given set.

In [ ]:
itm1=int(input("enter the first item in the list"))
itm2=int(input("enter the second item in the list"))
itm3=int(input("enter the third item in the list"))
result=0 
list =[itm1 , itm2 , itm3 ] 
print (list) 
result=itm1 * itm2 * itm3 
print ( "result = " , result )

In [ ]:
nbr1,nbr2,nbr3,nbr4,nbr5,nbr6=0,0,0,0,0,0
nbr1=int(input("enter  number for  tuple 1  "))
nbr2=int(input("enter  number for  tuple 1  "))
nbr3=int(input("enter  number for  tuple 2  "))
nbr4=int(input("enter  number for  tuple 2 "))
nbr5=int(input("enter  number for  tuple 3 "))
nbr6=int(input("enter  number for  tuple 3 "))
print ( ( nbr1 , nbr2 ) , ( nbr3 , nbr4 ) , ( nbr5 , nbr6 )  )
list= [  ( nbr1 , nbr2 ) , ( nbr3 , nbr4 ) , ( nbr5 , nbr6 ) ]
sorted(list)

In [ ]:
nbr1,nbr2, nbr3 = 0,0,0 
nbr1 = int(input("saisir valeur de nbr1 pour d1"))   
nbr2 = int(input("saisir valeur de nbr2 pour d1"))
nbr3 = int(input("saisir valeur de nbr3 pour d1"))
nbr4,nbr5, nbr6 = 0,0,0 
nbr4 = int(input("saisir valeur de nbr4 pour d2")) 
nbr5 = int(input("saisir valeur de nbr5 pour d2"))
nbr6 = int(input("saisir valeur de nbr6 pour d2")) 
d1 = {'a': nbr1, 'b': nbr2, 'c': nbr3}
d2 = {'a': nbr4, 'b': nbr5, 'd':nbr6}
print(d1,d2)
d3 = {} 
for key in d1:
    if key in d2:
        d3[key] = d1[key] + d2[key]
    else:
          d3[key] = d1[key]
for key in d2:
    if key not in  d1:
          d3[key] = d2[key]
        
print(d3)

In [ ]:
n = int(input("saisir un number : "))
i = 1
d1 = {}
for i in range(1, n + 1):
    d1[i] = i * i
    i=i+1
print(d1)

In [ ]:
nbr1,nbr2,nbr3=0,0,0
nbr1=float(input("enter  number for  tuple 1  "))
nbr2=float(input("enter  number for  tuple 1  "))
nbr3=float(input("enter  number for  tuple 2  "))
list= [ ( 'item1' , nbr1 ) ,( 'item2', nbr2 ) , ( 'item3' , nbr3 ) ]
list.reverse()
print('Reversed List:', list)

In [ ]:
n=int (input(" enter number of items ")) 
i=0 
my_set = set()
for i in range(1,n+1) :
   a= int(input("enter the item  " ))
   my_set.add(a)
my_set
my_set.remove(a) 
my_set

In [ ]:
my_set.remove(a) 
my_set

Write a Python program in the form of a function that takes two lists as parameters and returns True if the two lists have at least one common element, and False otherwise.

In [ ]:
n=int (input(" enter number of items ")) 
i=0 
my_list1 = list()
for i in range(1,n+1) :
   a= int(input("enter the item  " ))
   my_list1.append(a)
print(my_list1)
my_list2 = list()
for i in range(1,n+1) :
   a= int(input("enter the item  " ))
   my_list2.append(a)
print(my_list2)
intersection  = my_list1 and my_list2
def common (my_list1,my_list2) : 
    if intersection== 1 : 
       return true 
    else : 
       return false
common(my_list1,my_list2)

In [ ]:
def calculator(num1,num2):
    operator = input('Enter the operator (+, -, *, /): ')
    if operator == "+":
        return num1+num2
    
    elif operator == "-":
        return num1-num2
    
    elif operator == "*":
        return num1*num2
    
    elif operator == "/":
        if num2 != 0:
            return num1/num2
        else:
            return 'Error'
    
    else : 
        return 'Error'

In [ ]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
calculator(num1,num2)

Description: 

In this exercise, you will create a program that calculates the grades of students using Numpy arrays. The program will ask the user to enter the number of students, the number of subjects, and the marks of each student in each subject. It will then calculate the total marks, percentage, and grade for each student using Numpy arrays. The program will display the result for each student in a tabular format.

Instructions:

Import the Numpy library.
Ask the user to enter the number of students and the number of subjects.
Create a Numpy array to store the marks of each student in each subject. The array should have the shape (number of students, number of subjects).
Ask the user to enter the marks of each student in each subject.
Calculate the total marks for each student using the sum() function of Numpy.
Calculate the percentage for each student using the total marks and the formula: percentage = (total marks / (number of subjects * 100)) * 100
Calculate the grade for each student using the percentage and the following grading system:
90% or above: A+
80% or above: A
70% or above: B+
60% or above: B
50% or above: C
below 50%: F
Display the result for each student in a tabular format with columns for student name, total marks, percentage, and grade.

In [ ]:
n=int(input("enter number of students : "))
sub=int(input("enter number of subjects : "))
marks = np.zeros((n,sub))
for i in range(n):
    print(f"\nEntering marks for student {i + 1}:")
    for j in range(sub):
        marks[i, j] = float(input(f"Enter the marks for subject {j + 1}: "))

In [ ]:
for i in range(n):
   print(marks[i])

In [ ]:
total_1=[]
for i in range(n):
    total= np.sum(marks[i]) 
    print(total)
    total_1.append(total)
print (total_1)

In [ ]:
percentage_1=[]
for i in range(n):
       percentage= (total_1[i] / (sub * 100)) * 100
       print(percentage,"%")
       percentage_1.append(percentage)
print(percentage_1)

#### Calculate the grade for each student using the percentage and the following grading system:

In [ ]:
grades=[]
for i in range(n):
    if percentage_1[i] >= 90:
        print(f"the grade for student {i+1} is A+")
        grades.append("A+")
    elif percentage_1[i] >= 80:
        print(f"the grade for student {i+1} is A")
        grades.append("A")
    elif percentage_1[i] >= 70:
        print(f"the grade for student {i+1} is B+")
        grades.append("B+")
    elif percentage_1[i] >= 60:
        print(f"the grade for student {i+1} is B")
        grades.append("B")
    elif percentage_1[i] >= 50:
        print(f"the grade for student {i+1} is C")
        grades.append("C")
    else:
        print(f"the grade for student {i+1} is F")
        grades.append("F")
print(grades)

#### Display the result for each student in a tabular format with columns for student name, total marks, percentage, and grade.

In [ ]:
final_result = []
for i in range(n):
    final_result.append([marks[i], total_1[i], percentage_1[i], grades[i]])
print(final_result)

In [ ]:
import pandas as pd 
df = pd.DataFrame(final_result ,columns =['marks', 'total', 'percentage', 'grades'] , index=['student 1', 'student 2'] )
print(df)

In [ ]:
pd.read_csv(r"C:\Users\PC\Downloads\student note.csv")

Instructions

1 /  Write a Python class named Point3D defined by x, y, and z. Define a method that returns (x, y ,z). This tells Python to represent this object in the following format: (x, y, z).
Then create a variable named my_point containing a new instance of Point3D with x=1, y=2, and z=3 and print it.
2 / Write a Python class named Rectangle constructed by a length and width.
Define two methods, area and perimeter, which will compute the area and the perimeter of the rectangle.
Then create a variable named my_rectangle containing a new instance of Rectangle with width=3 and length = 4 and compute both area and perimeter ( the area is expected to be 3*4=12 and perimeter 2*(3+4)=14).
3 / Write a Python  class named Circle constructed by its center O and radius r. Define two methods, area and perimeter, which will compute the area and the perimeter of the circle, and is Inside() method which allows you to test whether a point A(x, y) belongs to the circle C(O, r) or not.
4 / Suppose we want to model a bank account with support for deposit and withdraw operations.
Let’s create a Python class named Bank defined by its balance. Define two methods, deposit and withdraw, to compute the new amount of each operation.

In [ ]:
class Point3D :
    def __init__ (self,x,y,z) :
        self.x=x
        self.y=y
        self.z=z 
    def format_3D (self) :
        return f"({self.x}, {self.y}, {self.z})"

In [ ]:
my_point = Point3D( x=1 , y=2 , z=3 )
print(my_point.format_3D())

In [ ]:
class Rectangle : 
    def __init__(self,length,width ) :
        self.length = length
        self.width=width
    def area (self): 
        return self.length*self.width
    def perimeter(self): 
        return 2*(self.length+self.width)

In [ ]:
my_rectangle = Rectangle (length =4 ,width =3 )
print( my_rectangle.area() )
print( my_rectangle.perimeter() )

3/

In [ ]:
import math
class Circle () : 
    def __init__ (self,center,radius) :
        self.center = center
        self.radius = radius
    def area (self): 
        return math.pi*(self.radius **2)
    def perimeter(self):
        return 2*math.pi*self.radius 
    def is_inside(self, point):
        distance = math.sqrt((point[0] - self.center[0]) ** 2 + (point[1] - self.center[1]) ** 2)
        if distance<= self.radius :
             return True
        else: 
             return False

In [ ]:
my_circle = Circle (center=(0,0) ,radius=3 )
print(my_circle.area())
print(my_circle.perimeter())
print(my_circle.is_inside((1,2)))

4/

In [ ]:
 class Bank : 
     def __init__ (self, balance) :
         self.balance = balance
     def deposit (self, montante) : 
         self.balance += montante 
         print(f"you just Deposited: {montante}")
     def withdraw (self, montante) : 
         if montante <= self.balance : 
             self.balance -= montante
             print(f"the montante Withdrew is  : {montante}")
         else : 
             print (" the amount does not exist in the your bank ") 
     def new_amount (self) :
         return self.balance

In [ ]:
my_bank=Bank ( 1000) 
print(my_bank.balance)
print(my_bank.deposit(500))
print(my_bank.withdraw(200))
print(my_bank.new_amount())

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
df=pd.DataFrame(exam_data)
df