Create a Function

In [6]:
def hello():
     print("Hello World, this is my first function")
hello()

Hello World, this is my first function

Function Parameters

In [7]:
def my_function(parameter):
    print("I want to learn "+parameter)
my_function("to code!")  
my_function("to do AI!")

I want to learn to code!
I want to learn to do AI!

In [18]:
def length(liste):
      s =0 
      for i in liste :
          s+=1 
      return(s)
a = [1,2,3,4]
print(length(a))

4

In [19]:
b = [1,2]
print(length(b))

2

In [20]:
def operation(x,y,z):
      print((x+y)*z)
operation(5,3,2) 
operation(5,2,3)

16
21

In [22]:
def multiple(x) :
    print(x**2)
multiple(10)

100

Functions with a Default Parameter

In [23]:
def my_function(country="Tunisia"):
    print("I am from "+country)
my_function("Maroc")
my_function("Algeria")
my_function()

I am from Maroc
I am from Algeria
I am from Tunisia

The Return Statement

In [31]:
def minimum(a,b):
    if a<b:
       return(a)
    else:
       return(b)
minimum(10,2)

2

In [34]:
def max(a,b):
    if a<b:
       return(b)
    else:
       return(a)
max(10,2)

10

In [36]:
def add(x, y):
    total = x + y
    return total
add(2,6)

8

In [39]:
def type_of_int(i):
    if i % 2 == 0:
        return 'even'
    else:
        return 'odd'
 
type_of_int(7)

'odd'

Lambda Function

In [40]:
sum = lambda a,b,c : a+b+c
print(sum(2,6,3))

11

In [41]:
year = lambda ch : ch[:4]
ch = "20240310"
print(year(ch))

2024

In [42]:
full_name = lambda first, last: f'Full name: {first.title()} {last.title()}'
full_name('guido', 'van rossum')

'Full name: Guido Van Rossum'

In [44]:
def myfunc(a):
	return len(a)
fruit=('apple', 'banana', 'cherry')
result = map(myfunc,fruit )

print(list(result))

[5, 6, 6]

In [52]:
n=int (input(" enter number of items ")) 
i=0 
my_list1 = list()
for i in range(1,n+1) :
   a= int(input("enter the item  " ))
   my_list1.append(a)
my_list1

 enter number of items  3
enter the item   1
enter the item   2
enter the item   3

[1, 2, 3]

In [50]:
my_list2 = list()
for i in range(1,n+1) :
   a= int(input("enter the item  " ))
   my_list2.append(a)
my_list2

enter the item   4
enter the item   5
enter the item   6

[4, 5, 6]

Write a Python program in the form of a function that takes two lists as parameters and returns True if the two lists have at least one common element, and False otherwise.

In [66]:
n=int (input(" enter number of items ")) 
i=0 
my_list1 = list()
for i in range(1,n+1) :
   a= int(input("enter the item  " ))
   my_list1.append(a)
print(my_list1)
my_list2 = list()
for i in range(1,n+1) :
   a= int(input("enter the item  " ))
   my_list2.append(a)
print(my_list2)
intersection  = my_list1 and my_list2
def common (my_list1,my_list2) : 
    if intersection== 1 : 
       return true 
    else : 
       return false
common(my_list1,my_list2)

 enter number of items  3
enter the item   1
enter the item   2
enter the item   3

[1, 2, 3]

enter the item   2
enter the item   3
enter the item   4

[2, 3, 4]

NameError: name 'false' is not defined

In [ ]:
def common(list1, list2):
    counter = 0
    for i in list1:
        for j in list2:
            if i == j:
                counter+=1
    if counter == 0:
        print("there no common item between lists")
    else:
        print(f"we have {counter} common item between the lists")

checkpoint

In [86]:
def calculator(num1,num2):
    operator = input('Enter the operator (+, -, *, /): ')
    if operator == "+":
        return num1+num2
    
    elif operator == "-":
        return num1-num2
    
    elif operator == "*":
        return num1*num2
    
    elif operator == "/":
        if num2 != 0:
            return num1/num2
        else:
            return 'Error'
    
    else : 
        return 'Error'

In [87]:
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
calculator(num1,num2)

Enter the first number: 12
Enter the second number: 3
Enter the operator (+, -, *, /):  +

15